* {
    box-sizing: border-box;
}

#game_container {
    min-width: 604px ;
    width:604px;
    text-align: center;
    margin:auto;
    
}

#game_title {
    color: yellow;
}

html {
    min-height: 100%;
}

body {
    background-color: black;
    margin: 0;

}

canvas {
    border: 2px dashed white;
}

.info {
    color: white;
    width: 30%;
    border: 2px solid orange;
}

#info-container {
    display: flex;
    justify-content: space-between;
    visibility:hidden;
    margin: 4px;
    

}